<h3>Faction: {{faction.screen_name}}</h3>
<h4>military_group: {{faction.military_group}} ({{unitsTable.total()}})</h4>
<div class="well well-sm">

  <h5>show option</h5>
  <form class="form-inline">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filter.inf_ranged"/>
        inf_ranged
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filter.inf_melee"/>
        inf_melee
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filter.elephants"/>
        elephants
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filter.cavalry"/>
        cavalry
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filter.artillery"/>
        artillery
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="filter.naval"/>
        naval
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="group"/>
        show by group
      </label>
    </div>
  </form>
</div>

<table ng-table="unitsTable" class="main-units" data-fixed-table-headers>

<tbody ng-repeat="group in $groups">
  <tr class="ng-table-group" >
    <td colspan="{{$columns.length}}" ng-click="group.$hideRows = !group.$hideRows">
      <span class="glyphicon" ng-class="{
        'glyphicon-chevron-right': group.$hideRows,
        'glyphicon-chevron-down': !group.$hideRows
      }"></span>
      {{ group.value }}
    </td>
  </tr>
  <tr ng-hide="group.$hideRows" ng-repeat="item in group.data">
    <td data-title="'land unit'" sortable="'loc.landUnit'" class="main-unit">
      <span
        tooltip-placement="right"
        tooltip-html-unsafe="{{item.unit}}<br>------<br>land: {{item.land_unit}}<br>naval: {{item.naval_unit}}"
      >
        {{item.loc.landUnit}}
      </span>
    </td>

      <td data-title="'category'" sortable="'lu.category'">{{item.lu.category}}</td>
      <td data-title="'class'" sortable="'lu.class'">{{item.lu.class}}</td>
      <td data-title="'weight'" sortable="'weight'">{{item.weight}}</td>


    <td data-title="'num men'" sortable="'num_men'">
      <bg-graph min="0" max="160" items="[{value: item.num_men, color:'#eed'}]">
        {{item.num_men}}
      </bg-graph>
    </td>
    <td data-title="'recruit cost'" sortable="'recruitment_cost'">
      <bg-graph min="0" max="1300" items="[{value: item.recruitment_cost, color:'#dda'}]">
        {{item.recruitment_cost}}
      </bg-graph>
    </td>

    <td data-title="'upkeep cost'" sortable="'upkeep_cost'">
      <bg-graph min="0" max="200" items="[{value:item.upkeep_cost, color:'#dda'}]">
        {{item.upkeep_cost}}
      </bg-graph>
    </td>


<!--melee-->


      <td data-title="'melee defence [skill + shield]'" sortable="'defenceTotal'" class="col-melee">

        <bg-graph min="0" max="85" items="[
          {value: item.lu.melee_defence, color:'#6b6'},
          {value: item.shieldType.shield_defence_value, color:'#ada'}
        ]">
          {{item.defenceTotal}}
          <icon-shield class="pull-right equip-icon" shield="item.shieldType"></icon-shield>
        </bg-graph>

      </td>

<!--
        <td data-title="'base defence'" sortable="'lu.melee_defence'"
          graph min="0" max="81" value="item.lu.melee_defence" color="#beb" class="col-defence-sub">
          {{item.lu.melee_defence}}
        </td>
        <td data-title="'shield defence'" sortable="'shieldType.shield_defence_value'"
          graph min="0" max="81" value="item.shieldType.shield_defence_value" color="#beb" class="col-defence-sub">
          {{item.shieldType.shield_defence_value}}
        </td>
-->

      <td data-title="'melee attack'" sortable="'lu.melee_attack'"class="col-melee">
        <bg-graph min="0" max="80" items="[
          {value: item.lu.melee_attack, color:'#dd9'}
        ]">
          {{item.lu.melee_attack}}
        </bg-graph>
      </td>
      <td data-title="'charge bonus'" sortable="'lu.charge_bonus'" class="col-melee">
        <bg-graph min="0" max="80" items="[
          {value: item.lu.charge_bonus, color:'#dd9'}
        ]">
          {{item.lu.charge_bonus}}
        </bg-graph>
      </td>

      <td data-title="'weapon length'" sortable="'weaponType.weapon_length'" class="col-melee">
        <bg-graph min="0" max="5" items="[
          {value: item.weaponType.weapon_length, color:'#dd9'}
        ]">
          {{item.weaponType.weapon_length}}
        </bg-graph>
      </td>

      <td data-title="'weapon damage [ap+base] (+vs_bonus)'" sortable="'weaponTotal'" class="col-melee">

        <bg-graph min="0" max="60" items="[
          {value: item.weaponType.ap_damage, color:'#c66'},
          {value: item.weaponType.damage, color:'#f88'},
          {value: item.weaponType.maxBonus, color:'#fcc'},
        ]">
          {{item.weaponTotal}}
          <icon-weapon class="pull-right equip-icon" weapon="item.weaponType"></icon-weapon>
        </bg-graph>
      </td>


      <!--
        <td data-title="'weapon damage'" sortable="'weaponType.damage'"
          graph min="0" max="60" value="item.weaponType.damage" color="#fcc" class="col-weapon-sub">
          {{item.weaponType.damage}}
        </td>
        <td data-title="'weapon ap'" sortable="'weaponType.ap_damage'"
          graph min="0" max="60" value="item.weaponType.ap_damage" color="#fcc" class="col-weapon-sub">
          {{item.weaponType.ap_damage}}
        </td>
-->



<!--missile-->


      <td data-title="'armour [cloth + shield]'" sortable="'armourTotal'" class="col-armour">
        <bg-graph min="0" max="115" items="[
          {value: item.armourType.armour_value, color:'#99b'},
          {value: item.shieldType.shield_armour_value, color:'#bbd'},
        ]">
          {{item.armourTotal}}
          <icon-armour class="pull-right equip-icon" armour="item.armourType"></icon-armour>
        </bg-graph>
      </td>
      <!--

        <td data-title="'base armour'" sortable="'armourType.armour_value'" class="col-armour-sub"
          graph min="0" max="115" value="item.armourType.armour_value" color="#bbd">
          <span>{{item.armourType.armour_value}}</span>
        </td>

        <td data-title="'name'" sortable="'armourType.key'" class="col-armour" ng-show="column.armour">
          {{item.armourType.key}}
        </td>
        <td data-title="'bonus missile'" sortable="'armourType.bonus_vs_missiles'"
          graph min="0" max="1" value="item.armourType.bonus_vs_missiles" color="#99d" class="col-armour" ng-show="column.armour">
          {{item.armourType.bonus_vs_missiles}}
        </td>
        <td data-title="'weak missile'" sortable="'armourType.weak_v_missiles'"
          graph min="0" max="1" value="item.armourType.weak_v_missiles" color="#99d" class="col-armour" ng-show="column.armour">
          {{item.armourType.weak_v_missiles}}
        </td>

        <td data-title="'shield armour'" sortable="'shieldType.shield_armour_value'"
          graph min="0" max="115" value="item.shieldType.shield_armour_value" color="#bbd" class="col-armour-sub">
          {{item.shieldType.shield_armour_value}}
        </td>
-->



      <td data-title="'missile weapon'" sortable="'lu.primary_missile_weapon'">{{item.lu.primary_missile_weapon}}</td>
      <td data-title="'accuracy'" sortable="'lu.accuracy'">{{item.lu.accuracy}}</td>
      <td data-title="'ammo'" sortable="'lu.ammo'">{{item.lu.ammo}}</td>
      <td data-title="'reload'" sortable="'lu.reload'">{{item.lu.reload}}</td>


      <td data-title="'morale'" sortable="'lu.morale'">
        <bg-graph min="0" max="90" items="[
          { value: item.lu.morale, color: '#ada' }
        ]">
          {{item.lu.morale}}
        </bg-graph>
      </td>

      <td data-title="'health total'" sortable="'healthTotal'">{{item.healthTotal}}</td>
        <td data-title="'man health'" sortable="'lu.man_entity'">{{item.lu.man_entity}}</td>
        <td data-title="'mount health'" sortable="'lu.mount'">{{item.lu.mount}}</td>
        <td data-title="'bonus health'" sortable="'lu.bonus_hit_points'">{{item.lu.bonus_hit_points}}</td>



<!--
      <td data-title="'d_charge'" sortable="'lu.dismounted_charge_bonus'">{{item.lu.dismounted_charge_bonus}}</td>
      <td data-title="'d_attack'" sortable="'lu.dismounted_melee_attack'">{{item.lu.dismounted_melee_attack}}</td>
      <td data-title="'d_defence'" sortable="'lu.dismounted_melee_defence'">{{item.lu.dismounted_melee_defence}}</td>
-->

  </tr>
</tbody>
</table>