Table.main-units{
  border-spacing: 4px 1px;
  border-collapse: separate;
//  border-collapse: collapse;
//  border: 1px solid #000;

  tbody tr td,
  thead tr th{
//    font-size: 90%;
    padding: 0px;
    margin: 0px;
    max-width: 80px;
    min-width: 80px;
    overflow: hidden;
    .tooltip-inner{
      text-align: left;
      word-break: break-all;
    }
  }

  thead {
    tr {
      th.sortable div:after,
      th.sortable div:before{
        top:10px;
      }
      th{
        vertical-align: top;
    //    background-color: #eee;
        line-height: 1.1;
        font-weight: normal;
    //    padding: 4px 0px;
//        padding-bottom: 10px;
      }
    }

  }
  tbody {
    tr:hover {
//        background-color: #34B0EB;
//        background-color: #428bca;
//        color: #fff;
        background-color: rgba(0,0,0,.05);
        cursor: pointer;
    }
    tr {
      td{
        vertical-align: top;
        border-top: 1px solid #ddd;
//        padding-left: 4px;
      }
      td.main-unit{
        min-width: 100px;
        max-width: 300px;
        padding-right: 10px;
        white-space: nowrap;
      }
    }
    tr.ng-table-group td{
    //    padding: 0px 0px 4px 0px;
      padding: 10px 0px;
      color: #666;
      border-top: 1px solid #000;
  //    background-color: #999;
    }
  }
}

.equip-icon{
    width: 22px;
    height: 22px;
//    margin-right:4px;
}
.bg-graph{
//width: 100px;
//    padding-left: 4px;
    margin: 0px;
    height: 20px;
    padding: 0px 4px;
//    margin: 0px 2px 2px -4px;
}

.col-armour{
  background-color: #eef;
}
.col-armour-sub{
  background-color: #eef;
}
.col-defence{
  background-color: #efe;
}
.col-defence-sub{
  background-color: #efe;
}
.col-weapon{
  background-color: #fee;
}
.col-weapon-sub{
  background-color: #fee;
}
.col-attack{
  background-color: #ffd;
}
.col-melee{
  background-color: #ffffe0;
}
